h1 {
    text-align: center;
}

.cart > :nth-child(2n) {
    background-color: beige;
}

.cart > :nth-child(2n) > span > input {
    background-color: beige;
}

.cart > :nth-child(2n+1) {
    background-color: bisque;
}

.cart > :nth-child(2n+1) > span > input {
    background-color: bisque;
}

.cart > * {
    border: 2px solid black;
    border-radius: 10px;
    width: 180px;
    padding: 20px;
    margin: 20px;
}

.cart > form > span {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    font-size: 16px;
    border-bottom: 1px solid gray;
}

.cart > form > span > input {
    border: none;
    background-color: none;
    font-size: 16px;
    width: 55%;
}

.cart > form > span > label {
    background-color: none;
    height: 19px;
    width: 45%;
}

.cart > * > p {
    border-bottom: 1px solid gray;
}

.cart > form > p {
    margin-bottom: 14px;
}

.cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart > * > button {
    font-size: 16px;
    border: 2px solid black;
}

.cart > form > button {
    width: 100%;
}

.cart > * > button:hover {
    background-color: lightgreen;
}

.cart > section > .button__delete  {
    background-color: red;
}